<?xml version="1.0"?>
<model>
  <name>ardrone_gazebo</name>
  <version>1.0</version>
  <sdf version='1.4'>ardrone_gazebo.sdf</sdf>
  <author>
    <name>Tim Dupont</name>
    <email>Tim.Dupont@PXL.be</email>
  </author>
  <description>
    This is the model for an AR.Drone.
  </description>
</model>
